


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link href="
https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/css/gotham-rounded.min.css
" rel="stylesheet">
</head>


<input type="radio" name="optionScreen" id="SignIn" hidden checked>
<input type="radio" name="optionScreen" id="SignUp" hidden>

<section>
  <div id="logo">
   
    <h1>Student portal</h1>
  </div>

  <nav>
    <label for="SignIn">Sign In</label>
    <label for="SignUp">Sign Up</label>
  </nav>

  <form action="" id="SignInFormData">
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <span>
      <input type="checkbox" id="staySingedIn" checked>
      <label for="staySingedIn">stay Signed In</label>
    </span>
    <button type="button" title="Sing In">Sign In</button>

    <a id="forgotPassword">forgot Password?</a>
  </form>

  <form action="" id="SignUpFormData">
    <input type="text" id="name" placeholder="Name Complete">
    <input type="email" id=email placeholder="E-mail">
    <input type="password" id="password" placeholder="New Password">
    <span>
      <input type="checkbox" id="staySingedUp">
      <label for="staySingedUp">stay Signed In</label>
    </span>
    <button type="button" title="Sing Up">Sing Up</button>
  </form>

</section>

