



<!DOCTYPE html>
<html>


  

<head>
  <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link href="
https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/css/gotham-rounded.min.css
" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>



<body class="login-body">
<input type="radio" name="optionScreen" id="SignIn" hidden checked>
<input type="radio" name="optionScreen" id="SignUp" hidden>
<input type="radio" name="optionScreen" id="SignUplec" hidden>

<section class="login">
  <div id="logo">
   
    <h1>Student portal</h1>
  </div>

  <nav>
    <label for="SignIn">Sign In</label>
    <label for="SignUp">Sign Up</label>
    <label for="SignUplec">Sign Uplec</label>
  </nav>

  <form action="/users/login" method="POST" id="SignInFormData">
    <input type="text" id="email-login" name="email" placeholder="Email">
    <input type="password" id="password-login" name="password" placeholder="Password">
    <span>
        <input type="checkbox" id="staySignedIn" checked>
        <label for="staySignedIn">Stay Signed In</label>
    </span>
    <button type="button" title="Sign In" onclick="login()">Sign In</button>
    <a id="forgotPassword">Forgot Password?</a>
</form>
  
  <form action="" id="SignUplecFormData">
    <input type="text" id="name-lec" placeholder="Name Complete">
    <input type="text" id="surname-lec" placeholder="Surname Complete">
  
    <input type="email" id="email-lec" placeholder="E-mail">
    <input type="password" id="new-password-lec" placeholder="New Password">
    <span>
      <input type="checkbox" id="staySingedUp-lec">
      <label for="staySingedUp">stay Signed In</label>
    </span>
    <button type="button" title="Sing Up">Sign Up</button>
    <div id="errorDiv"></div>
  </form>

  <form action="" id="SignUpFormData">
    <input type="text" id="name" placeholder="Name Complete">
    <input type="text" id="surname" placeholder="Surname Complete">
    <label for="cars">Choose course:</label>
    <select name="course" id="course">
      <option value="Accounting">Accounting</option>
      <option value="Computer science">Computer science</option>
      <option value="Law">Law</option>
      <option value="Mechanical engineering">Mechanical engineering</option>
    </select>
    <label for="cars">Choose year of study:</label>
    <select name="year" id="year">
      <option value="1">1st</option>
      <option value="2">2nd</option>
      <option value="3">3rd</option>
      
    </select>
    <input type="email" id=email placeholder="E-mail">
    <input type="password" id="new-password" placeholder="New Password">
    <span>
      <input type="checkbox" id="staySingedUp">
      <label for="staySingedUp">stay Signed In</label>
    </span>
    <button type="button" title="Sing Up">Sign Up</button>
    <div id="errorDiv"></div>
  </form>

</section>
</body>

<script>
  $(document).ready(function() {
    // Sign up button click event
    $('#SignUpFormData button').on('click', async function() {
      const name = $('#name').val();
      const email = $('#email').val();
      const year = $('#year').val();
      const course = $('#course').val();
      const surname = $('#surname').val();
      const password = $('#new-password').val();
      const lecture = false;
  
      // Prepare data for POST request
      const data = {
        name: name,
        email: email,
        password: password,
        course:course,
        surname:surname,
        year:year,
        lecture:lecture
      };
  
      try {
        const response = await fetch('/users/signup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
  
        const responseData = await response.json();
  
        if (response.ok) {
          // Successful signup
          console.log('Signup successful');
          window.location.href = '/quiz';
        } else {
          // Display error response
          console.log('Signup error:', responseData);
          responseData.forEach(error => {
            $('#errorDiv').append(`<p>${error.msg}</p>`);
          });
          // You can use this error to update the UI to show the error to the user
          // For example, create a div with an id "errorDiv" and update its text content
          //
        }
      } catch (error) {
        console.error('An error occurred:', error);
      }
    });

    //sign up lecture

    $('#SignUplecFormData button').on('click', async function() {
      const name = $('#name-lec').val();
      const email = $('#email-lec').val();
      const year = "1";
      const course = "lecture";
      const surname = $('#surname-lec').val();
      const password = $('#new-password-lec').val();
      const lecture = true;
  
      // Prepare data for POST request
      const data = {
        name: name,
        email: email,
        password: password,
        course:course,
        surname:surname,
        year:year,
        lecture:lecture
      };
  
      try {
        const response = await fetch('/users/signup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
  
        const responseData = await response.json();
  
        if (response.ok) {
          // Successful signup
          console.log('Signup successful');
          window.location.href = '/resources';
        } else {
          // Display error response
          console.log('Signup error:', responseData);
          responseData.forEach(error => {
            $('#errorDiv').append(`<p>${error.msg}</p>`);
          });
          // You can use this error to update the UI to show the error to the user
          // For example, create a div with an id "errorDiv" and update its text content
          //
        }
      } catch (error) {
        console.error('An error occurred:', error);
      }
    });
  });
  async function login() {
            const email = document.getElementById('email-login').value;
            const password = document.getElementById('password-login').value;
            
            const response = await fetch('/users/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password }),
            });

            const data = await response.json();

            if (response.status === 200) {
                // Successful login, redirect based on the JSON response
                if (data === "resources") {
                    window.location.href = '/resources'; // Change to your desired resource URL
                } else if (data === "groupChat") {
                    window.location.href = '/groupChat'; // Change to your desired groupChat URL
                }
            } else {
                // Handle login failure, e.g., display an error message
                console.log('Login failed:', data);
            }
        }
  </script>

  </html>